<%
  dom_id ||= 'menu'
  css ||= 'menu'
  hide_children = RefinerySetting.find_or_set(:menu_hide_children, false) unless defined?(hide_children)
  cache_key = [Refinery.base_cache_key]
  cache_key << (action_suffix ||= RefinerySetting.find_or_set(:refinery_menu_cache_action_suffix, "site_menu"))
  cache_key << extra_suffix if defined?(extra_suffix) and extra_suffix.present?
  cache_key << request.path
  cache(cache_key.compact.join('_')) do
    # Select top menu items unless 'roots' is passed in.
    collection ||= @menu_pages
    roots ||= collection.select { |m| m.parent_id == nil }
    if roots.any?
      sibling_count = roots.size - 1
-%>
     
        <table class="<%=css%>" id ="<%=dom_id%>">
				<tr><td width="155px" height="50px">&nbsp;</td>
          <%= render :partial => "/shared/menu_branch",
                     :collection => roots,
                     :locals => {
                       :hide_children => hide_children,
                       :sibling_count => sibling_count,
                       :collection => collection,
                       :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                     }
          -%>
					<td width="260px" align='left'>
						<img src="/theme/images/phone.gif" width='200px'/>
					</td></tr>
				<%children = hide_children ? [] : collection.select { |p| p.in_menu? && p.parent_id != nil } %>
				 <% if children.present? %>
					<tr><td width="140px" height="40px">&nbsp;</td><td colspan="<%=roots.size%>">
					<table class='clearfix sub_table' ><tr>
						<%=
							render :partial => "/shared/menu_branch",
										 :collection => children,
										 :locals => {
											 :hide_children => hide_children,
											 :collection => collection,
											 :sibling_count => children.size - 1
										 } -%>
					</tr></table></td>
					<td><img src="/theme/images/ad.gif" width='200px'/></td>
					</tr>
				<% end %>
        </table>
      
  <%
    end
  end
-%>
